.row{             
               
    @mixin atMedium{
        &--gutters>div{     /* this code will be applied to its direct children not this div*/
            padding-right:65px;        
        }       
          
        &--column1{
            float:left;
             width:33.33%;           
                   }
          &--column2{
           float: left;
              width:66.33%;
              height:100%;
              }
    }   
    &--colSize6{
        font-size: 1.0rem;
        font-weight: 150;
          @mixin atSmall{
            width:50%;
            float: left;     
           padding-left: 3em;
            text-align: justify; 
          }       
    }
    &--features{
    
    }
.clear-float{ clear: both;}
}
.landscape{
    width:500px;
}
