.section-head--ico{
    height:30px;
    @mixin atSmall{
    height:50px;
    padding-right: 1rem;
    }
   
}
.section-title{
    text-align: center;
    font-weight: 300;
    @mixin atSmall{
        font-size:3.75rem;   
            
        strong{
            font-weight:500;
        }
    }
    &--subtitle{
        margin-left:35px;
        margin-bottom:0px;
        
   @mixin atSmall{
    margin-left:0px;
   }
          
    }


  &--ico{
      height:30px;
      position: absolute;
      left:0;       
  }
  &--blue{
      color:$mainBlue;
     padding-bottom:60px;
   
  }

}